body, html {
  height: 100%;
}

body {
    background-color: #f5f6f7
}

header {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    color: white;
}

.header-content {
    display: table-cell;
    vertical-align: middle;
}

#mainheader {    
    background-image: url('../img/servers_black.jpg');
}

#downloadheader {    
    background-image: url('../img/ocean_black.jpg');
}

h1 {
    font-size: 50px;
}

h2, h3 {
    font-size: 20px;
    color: rgba(230, 230, 230, 1)
}

h3 {
    color: rgb(60,60,60)
}

.logo {
    height: 150px;
}

.small-logo {
    position: top left;
    height: 30px;
}

section {
    text-align: center;
    padding: 50px;
    margin-top: 25px;
}

.blue-section {
    background-color: #03a9f4;
    color: white;
}

.blue-section a {
    color: #14526b;
}

.blue-section strong {
    font-weight: normal;
    color: lightpink;
}

table {
    text-align: left;
}

.separator {
    width: 10%;
    margin-right: auto;
    margin-left: auto;
}